.#{$project-namespace}overview-details{
  min-height: 420px;
}

.#{$project-namespace}content{
  .is-overview-right{
    background: url(../assets/images/banner-back.png) top right no-repeat;
  }
}
// overview
.#{$project-namespace}overview{
  position: relative;
  min-height: 420px;

  &.is-overview-img{
    position: absolute;
    right: 0;
    top: 0;
  }

  &.is-overview-div{
    z-index: 1;
    color: $color-is-first;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
      text-transform: uppercase;
    }

    .is-working-at{
      // font-size: 40px;
      color: $color-is-first;
      text-decoration: none;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      transition: ease-in-out 0.2s;

      &:hover{
        filter: none;
        -webkit-filter: none;
      }
    }

  }
}
