// name:          font
// description:   font for all
//  ====================================
// font
// =====================================

@font-face {
  font-family: "bruno-ace";
  src: url("../assets/fonts/BrunoAceSC-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
